@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.tabla {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
  }

  td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.contenedor {
    /* Centrar el formulario en la página */
    margin: 0 10%;
    width: 400px;
    display: inline-block;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
}

.titulo{
    text-align: center;
    margin: 15px auto;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}